:root {
    --primary-color: #002772;
    --main-font: 'Inter', sans-serif;
  }
  
  * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: var(--main-font);
  }
  
  .container {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 300px;
  }
  
  .product-card {
    display: flex;
    flex-direction: column;
    width: 70%;
    height: 100%;
    box-shadow: 0 4px 10px 0 rgba(0, 0, 0, 0.2);
    border-radius: 15px;
    background-color: #FFFFFF;
    padding: 50px;
    justify-content: center;
    align-items: center;
    margin: auto; /* Add this line to center the card within its parent */
  }
  
  
  .content {
    display: flex;
    align-items: flex-start;
  }
  
  .image {
    flex: 0 0 auto;
    display: flex;
    justify-content: center;
    padding-right: 50px;
    padding-left: 10px;
    margin-top: 50px;
  }
  
  .text {
    flex: 1 1 auto;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    max-width: 100%;
    flex-wrap: wrap; /* Tambahkan properti ini */
  }
  
  h2 {
    font-family: var(--main-font);
    color: var(--primary-color);
    font-size: 24px;
    margin-bottom: 10px;
  }
  
.ProdDescription {
    flex: 5;
    font-family: "Prompt", sans-serif;
    line-height: 1.2;
    font-size: 1.2rem;
  }
  
  .text2 {
    display: flex;
    flex-direction: column;
    width: 63.5%;
    margin-left: auto;
    margin-right: 0;
  }
  
  img {
    width: 250px;
    height: 300px;
  }
  
  
  .text hr {
    margin-bottom: 10px;
  }
  
  .text2 hr {
    margin-top: 10px;
    margin-bottom: 10px;
  }
  
  .btn .btn-buy.btn-men,
  .btn .btn-next.btn-men {
    padding: 7px 104px;
    background-color: #002772;
    color: #FFFFFF;
    border-radius: 4px;
    font-family: var(--main-font);
    font-size: 14px;
    font-weight: 600;
    border: 2px solid #002772;
    margin-right: 15px; /* Add margin-right for spacing */
  }

  .btn .btn-buy.btn-women,
  .btn .btn-next.btn-women {
    padding: 7px 104px;
    background-color: #720060;
    color: #FFFFFF;
    border-radius: 4px;
    font-family: var(--main-font);
    font-size: 14px;
    font-weight: 600;
    border: 2px solid #720060;
    margin-right: 15px; /* Add margin-right for spacing */
  }

  .btn .btn-next.btn-men,
  .btn .btn-next.btn-women {
    padding: 7px 104px;
    background-color: #FFFFFF;
    color: var(--primary-color);
    border-radius: 4px;
    font-family: var(--main-font);
    font-size: 14px;
    font-weight: 600;
    border: 2px solid var(--primary-color);
    cursor: pointer;
    margin-left: 15px; /* Add margin-left for spacing */
  }

  .btn .btn-next.btn-men:hover {
    background-color: #002772;
    color: #FFFFFF;
  }

  .btn .btn-next.btn-women:hover {
    background-color: #720060;
    color: #FFFFFF;
  }

  .unavailableView {
    width: 100vw;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
  .unavailableCard {

    box-shadow: 0 4px 10px 0 rgba(0, 0, 0, 0.2);
    background-color: white;
    width: 70%;
    height: 50%;
    display: flex;
    text-align: center;
    justify-content: center;
    flex-direction: column;
    font-family: "Prompt", sans-serif;
    font-weight: 550;
    font-size: 1.2rem;
    background-image: url("../sad-face.svg");
    background-position: center;
    background-repeat: no-repeat;
    border-radius: 15px;
  }
  
  .customNextButton {
    border: 2px solid black;
    background-color: white;
    font-family: "Prompt", sans-serif;
    font-weight: 700;
    color: black;
    padding: 10px;
    margin-right: 25%;
    margin-left: 25%;
    margin-top: 20px;
    width: 50%;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
  }

  .customNextButton:hover {
    background-color: #002772;
    color: white;
  }

  .BackgroundUnavailable {
    width: 100vw;
    height: 66vh;
    position: fixed;
    top: 0px;
    z-index: 1; /* Ganti nilai z-index sesuai kebutuhan */
    background-color: #a9a9a9;
  }
  

  .BackgroundWoman {
    width: 100vw;
    height: 66vh;
    position: fixed;
    top: 0px;
    z-index: -1;
    background-color: #fde2ff;
  }
  
  .BackgroundMan {
    width: 100vw;
    height: 66vh;
    position: fixed;
    top: 0px;
    z-index: -1;
    background-color: #d6e6ff;
  }
  
  .loading-spinner {
    border: 8px solid #f3f3f3;
    border-top: 8px solid #3498db;
    border-radius: 50%;
    width: 50px;
    height: 50px;
    animation: spin 1s linear infinite;
    margin: auto;
    margin-top: 500px;
  }
  
  @keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
  }

  